﻿
@{
    ViewData["Titre"] = "Page d'accueil";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Titre"]</title>
</head>
<body>

    <h1>@ViewData["Titre"]</h1>

</body>

</html>
